.form-contact{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e22b4f;
}

.form {
    background-color: #b5a3a396;
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    height: 450px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2{
    margin-top: 20px;
}
.input{
    text-align: center;
    margin-top: 50px;
    height: 30px;
    width: 80%;
    margin-left:45px;
    margin-right: 5px;
}
.textarea{
    text-align: center;
    margin-top: 50px;
    height: 100px;
    width: 80%;
    margin-left:45px;
    margin-right: 5px;
}
.submit{
    width: 130px;
    height: 50px;
    margin-left:135px;
    background-color: #caff009e;
    border-radius: 30px;
}