.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: blue;
    color: white;
  }
.form{
    width: 400px;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 250px;
}